<header>
<nav id="navwrap" class="dhoma header"><input type="checkbox" id="menu-toggle" class="menu-toggle"><hgroup class="site-info"><h1><a href="/" rel="home">ovi.ro</a></h1></hgroup><label for="menu-toggle" class="menu-burger" aria-label="Toggle navigation menu"><span></span><span></span><span></span></label><ul id="menu-menu1" class="head nav">
<li class="menu-item{% if page.home %} current-menu-item current_page_item{% endif %}"><a href="/"{% if page.home %} aria-current="page"{% endif %}>Home</a></li>
<li class="menu-item menu-item-has-children">
<a href="#">Categories</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="/category/html/">HTML</a></li>
	<li class="menu-item menu-item-has-children">
<a href="/category/php/">PHP</a>
	<ul class="sub-menu">
		<li class="menu-item"><a href="/category/php/zce-training/">ZCE Training</a></li>
		<li class="menu-item"><a href="/category/php/cakephp/">CakePHP</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-has-children">
<a href="/category/javascript/">JavaScript</a>
	<ul class="sub-menu">
		<li class="menu-item"><a href="/category/javascript/jquery/">jQuery</a></li>
	</ul>
</li>
</ul>
</li>
<li class="menu-item"><a href="/about/">About</a></li>
</ul></nav><div class="efekgaris"></div>
</header>
