---
layout: default
body_class: page-template-default page
---
<section class="post type-page status-publish hentry">
<section class="dhoma">
 <section class="dh8 article">
  <section class="jarakgrid">
	<article>
	 <div class="jarakgrid">
	   <h1 class="post-title"><a href="{{ page.url }}" title="Permalink to {{ page.title | escape }}" rel="bookmark"><span class="entry-title">{{ page.title }}</span></a></h1>
	  <div class="post-meta"></div>
{{ content }}
	 </div>
	</article>
  </section>
 </section>
{% include sidebar.html %}
</section>
</section>
